<!doctype html>
<html>
<head>
  <title>Watch Ordder</title>
  <link rel="stylesheet" type="text/css" href="WatchOrder.css">
</head>
<body>
  <div id="principalContainer">
    <div id="navigationBar">
      <div id="daniel">
        Daniel Wellington
      </div>
      <div id="menu">
        <ul>
          <li id="double-bars">&#9552</li>
          <li>JOURNAL</li>
          <li>ACCESSORIES</li>
          <li>WOMEN</li>
          <li style="color:black"><b>MEN</b></li>
        </ul>
      </div>
    </div>
    <div id="watch">
      <div id="watchPictures">
        <br />
        <img src="https://cdn.shopify.com/s/files/1/0690/2235/products/main_f797a0e4-0eb4-4e70-a2c8-457ba2036102_1024x1024.jpg?v=1415161552" alt="watch" width="80%"/><br />
        <img id="watchBorder" src="https://cdn.shopify.com/s/files/1/0690/2235/products/1_54cd023f-3e18-4b58-bb48-48eb6e3e9d97_1024x1024.jpg?v=1415161549" alt="watch" width="30%"/>
        <img id="space-betwen"src="https://asset2.danielwellington.com/dw-image-cache/media/catalog/product/cache/2/thumbnail/640x/dc4095f997835e64a6e07c1125933e12/c/l/cl-36-bristol-rg_2.png" alt="watch bracelet" width="30%"/>
      </div>
      <div id="watchInfo">
        <p>MEN &nbsp > &nbsp CLASSIC &nbsp > &nbsp BRISTOL</p>
        <h1>Classic Bristol 40mm <span id="price">&pound179</span></h1>
        <button id="button1"></button>
        <button id="button2"></button><span id="rose-gold">Rose Gold</span>
        <p id="text-info">
          The Classic Collection, recognized for its clean lines and simple design, was created with modern
          gentlemen and ladies in mind. With a minimalistic dial and a perfectly dark brown band, this timepiece
          looks effortlessly elegant. Dressed up or dressed down, this beautiful watch will stand out in any crowd.
        </p>
        <button id="add-to-cart">add to cart</button><br />
        <div id="shipping">
        <img id="flag" src="http://emojipedia-us.s3.amazonaws.com/cache/b7/0a/b70a93d136f029f027e3c212eaa8f910.png" alt="englad-flag"/>
        <span>We ship worldwide with UPS Delivery and Standard Post.</span>
      </div>
      </div>
    </div>
  </div>
</body>
</html>
