<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="Factura.css">
</head>
<body>
<div id="factura">
  <div id="top">
    <img id="m" src="m.jpg" alt="m" />
    <div id="contact">
        <span id="milan">MILAN VUCKOVIC</span><br />
        <br />
        www.milanvuckovic.net<br />
        hello@milanvuckovic.net<br />
        +381 64 1234 567<br />
    </div>
  </div>
  <div id="recipient-invoice">
    <div id="recipient">
        <span id="recipientWord">RECIPIENT</span><br />
        <br />
        James Victore<br />
        36 S 4th St<br />
        Brooklyn, NY 11249, USA<br />
        <br />
        james@jamesvictore.com<br />
        +1 234 5678 981<br />
    </div>
    <div id="invoice">
        <span id="invoiceWord">INVOICE</span><br />
        <br />
        <span id="invoiceNr">INVOICE NUMBER</span><br />
        <span>15122815-02</span><br />
      </pre>
    </div>
  </div>
  <div id="middle">
    <div id="invoiceDate">
        <span id="invoiceDateWord">INVOICE DATE</span></p>
        </p>
        15 DEC 2015</p>
    </div>
    <div id="tabelul">
      <table>
        <tr>
          <th class="leftAllign">TASK DESCRIPTION</th>
          <th>RATE</th>
          <th>HOURS</th>
          <th class="rightAllign">AMOUNT</th>
        </tr>
        <tr>
          <td class="leftAllign">Badass Poster Design - A4</td>
          <td>$40</td>
          <td>8</td>
          <td class="rightAllign">$320.00</td>
        </tr>
        <tr>
          <td class="leftAllign">Website Redesign</td>
          <td>$40</td>
          <td>25</td>
          <td class="rightAllign">$1000.00</td>
        </tr>
        <tr>
          <td class="leftAllign">iOS Application Design</td>
          <td>$40</td>
          <td>30</td>
          <td class="rightAllign">$1200.00</td>
        </tr>
        <tr>
          <td class="leftAllign" >Newsletter Template Design</td>
          <td>$40</td>
          <td>10</td>
          <td class="rightAllign">$400.00</td>
        </tr>
      </table>
    </div>
    <div id="tabelulSubtotal">
      <table>
        <tr>
          <td class="paddingTL">Subtotal</td>
          <td class="rightAllign">$2920.00</td>
        </tr>
        <tr>
          <td class="paddingTL">PayPal Fee</td>
          <td class="rightAllign">5.00%</td>
        </tr>
        <tr>
          <td class="total">TOTAL</td>
          <td class="total">$3066.00</td>
        </tr>
      </table>
    </div>
  </div>
  <div id="bottom">
      <span id="notes">NOTES</span><br />
      <br />
      Payment should be paid in full no later than 15 days after receiving this invoice.<br />
      <br />
      Have a nice day and thank you!<br />
      Milan<br />
  </div>
  <hr>
  <div id="footer">
    Milan Vuckovic. All Rights Reserved &#169; 2015  &#183  hello@milanvuvkovic.net
  </div>
</div>
</body>
</html>
