<!doctype html>
<head>
  <title>Green spaces</title>
  <link rel="stylesheet" type="text/css" href="CSS_Reset.css" />
  <link rel="stylesheet" type="text/css" href="Green_spaces.css" />
</head>
<body>
  <div id="container">
    <p id="menu">
      &#9776
    </p>
    <div id="logo">
      <p id="g">G</p>
      <p id="green_spaces_inc">GREEN SPACES INC.</p>
    </div>
    <div class="row" id="what_we_do">
      <div class="col-6 col-12" id="what_we_do_text">
        <h1>WHAT WE DO</h1>
        <p>
          Green Spaces Inc. was originally founded in 2001 as a conifer and decidous tree nursery.
          Green Spaces inc started as a local tree nursery serving a limited geographic area.
          Our company has evolved and responded to our customers demand of quality nursery
          products. We continue to improve our on-line capabilities and expand our product offerings.
        </p>
        <button id="button">LEARN MORE</button>
      </div>
      <div class="col-6 col-12">
        <img id="cactus" src="cactus.jpeg" alt="cactus" />
      </div>
    </div>
    <div class="row" id="our_products">
      <div class="col-6 col-12">
        <img id="leaves2" src="leaves2.jpg" alt="leaves" />
      </div>
      <div class="col-6 col-12" id="our_products_text">
        <h1>OUR PRODUCTS</h1>
        <p>
          We have extended our offerings outside the tree and shrub products, to include perennials,
          rose bushes and other plants, as well as flower seeds.
        </p>
      </div>
    </div>
  </div>
</body>
