li {
  list-style-type: none;
}

.input {
  border: none;
  border-bottom: 1px solid #e6e6e6;
}

#file {
  margin-top: 2em;
}

.button {
  background: white;
  border: 1px solid black;
  padding: 0.3em 2em;
  margin-left: 2em;
}

div {
  margin: 2em 0;
}

a:hover {
  cursor: pointer;
}
