body {
  background-color: #1a8cff;
  width: 100%;
  height: 100%;
  display: table;
}
#wraper {
  display: table-cell;
  vertical-align: middle;
}
#principal_container {
  margin: auto;
  max-width: 450px;
}

#minionsform {
  background-color: white;
  text-align: center;
  padding: 20px 0px;
}
#logo {
  padding-bottom: 50px;
}
.form {
  height: 40px;
  width: 75%;
  border: none;
  border-bottom: 2px solid #ccc;
}
.material-icons {
  padding-right: 10px;
  vertical-align: middle;
}
form {
  line-height: 5;
}
#user {
  background-image: url('user.jpg');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 7%;
}
#pass1 {
    background-image: url('pass.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 8%;
}
#pass2 {
    background-image: url('pass.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 8%;
}
#button {
  padding: 2% 28%;
  background-color: #00b3b3;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  border-radius: 2px;
  box-shadow: 2px 2px 5px gray;
  margin: 20px 0px;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: blue;
}
#login {
  padding-bottom: 10px;
}
#image_preview {
  width: 85%;
}
#image {
  position: relative;
}
.btn {
  position: absolute;
  top: 90%;
  display: none;
  background-color: #00b3b3;
  color: white;
  border: none;
  padding: 3px 5px;
  border-radius: 2px;
  box-shadow: 2px 2px 5px gray;
  font-family: Arial, Helvetica, sans-serif;
}
#edit_btn {
  left: 55%;
}
#delete_btn {
  left: 40%;
}
#nav {
  list-style: none;
  padding-left: 8%;
  padding-bottom: 5%;

}
#nav li {
  position: relative;
  width: 192px;
  background: #00b3b3;
  text-align: center;
  border-radius: 2px;
}
#nav li:hover {
  background: #1a8cff;
}
#nav a {
  display: block;
  color: #000;
  text-decoration: none;
  line-height: 2em;
  color: white;
}

#nav ul {
  position: absolute;
  list-style: none;
  display: none;
}
#nav li:hover #second {
  display: block;
  left: 100%;
  top: 0%;
}
#second li:hover #third {
  display: block;
  left: 100%;
  top: 0%;
}
